<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <style>
      html{ height:100%; }
      body{ display: block; font-weight: 300; background: #fff; color: #909090; font-size: 17px; line-height: 1.37; font-smooth: always; font-family: -apple-system, BlinkMacSystemFont, sans-serif, "Open Sans", Helvetica, Arial; -webkit-font-smoothing: antialiased; height:100%; }
      h1, h2, h3{ font-weight: 400; color: #494949; }
    </style>
  </head>
  <body>
    <div style="position:fixed;left:50%;top:50%;margin-left:-200px;margin-top:-100px;text-align:center;width:400px;height:200px;box-shadow: 0 0 52px -7px rgba(0, 0, 0, .3);-webkit-box-shadow: 0 0 52px -7px rgba(0, 0, 0, .3);-moz-box-shadow: 0 0 52px -7px rgba(0, 0, 0, .3);padding:10px;">
      <h1 style="font-size:22px;padding-top:40px;">
        {{title}}
      </h1>
      <p>{{content}}</p>
    </div>
  </body>
</html>
